body {
  font-family: "Alexandria";
}

#Title {
  font-size: 70px;
  margin: 0;
  display: inline;
}
#card {
  width: 90%;
  background-color: #283593;
  height: 60px;
  padding: 8px;
}

.iconButton {
  background-color: red;
  color: green;
}
